[submodule "platoengine"]
	path = platoengine
	url = ../platoengine.git
[submodule "platoanalyze"]
	path = platoanalyze
	url = ../platoanalyze.git
[submodule "plato-prebuilt-binaries"]
	path = plato-prebuilt-binaries
	url = ../plato-prebuilt-binaries.git
[submodule "spack"]
	path = spack
	url = ../spack.git
